h1{
    text-align: center;
    margin-top: 50px;
    color: aquamarine;
}
h2{color: crimson;}

.bloc{
    margin-top: 50px;

}
footer{
    display: flex;
    margin-top: 50px;
    background-color: crimson;
    color: white;
    margin-bottom: 30px;
}
body{
    margin: 0%;
    padding: 0%;
    
    background:url(./img/ing_22803_05233.jpg);
    height: 350vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.a{
    color: black;
}